<h2>Artists List</h2>

<p><i>Select an artist from the list</i></p>
<ul>
  <li *ngFor="let artist of artists" (click)="selectArtist(artist)">
    {{artist.name}}
  </li>
</ul>

<app-artist-detail *ngIf="selectedArtist" [artist]="selectedArtist"></app-artist-detail>
